@import url('https://fonts.googleapis.com/css?family=Raleway');


body h1 {font-family: 'Raleway', sans-serif;}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

.article-header {
	background-color: #82e2ff;
	color: white;
	display: flex;
	flex-flow: column;
	height: 100%;
	justify-content: center;
	min-height: 350px;
	padding: 2em 4% 2em;
  text-align: center;
}

#center{
  text-align:center;
}

#nav{

  list-style-type:none;
  padding:0px;
  margin:0px;
}
#nav li{

  display:inline-block;
  padding:5px;
  margin:0px;
  font-size:18px;
  color:white;
}

#nav li:hover{

  background:#c6f2ff;
  transition:background 0.25s;
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -1000px; }
}

.pacman {
    width: 100px;
    height: 100px;
    background-image: url("../images/sprite-sheet.png");

    animation: play .38s steps(10) infinite;
}

.pacman2 {
    width: 100px;
    height: 100px;
    background-image: url("../images/sprite-sheet.jpg");

    animation: play .38s steps(10) infinite;
}

@keyframes my_animation {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

#my_animation {
  align-content: center;
  width: 100px;
  height: 100px;
  position: relative;
  animation: my_animation infinite alternate;
  background-color: #ff4f4f;
  animation-duration: 0.5s;
}
#my_animation_2 {
  align-content: center;
  width: 100px;
  height: 100px;
  position: relative;
  animation: my_animation infinite alternate;
  background-color: #ffb24f;
  animation-duration: 0.75s;
}
#my_animation_3 {
  align-content: center;
  width: 100px;
  height: 100px;
  position: relative;
  animation: my_animation infinite alternate;
  background-color: #f9ff4f;
  animation-duration: 1s;
}
#my_animation_4 {
  align-content: center;
  width: 100px;
  height: 100px;
  position: relative;
  animation: my_animation infinite alternate;
  background-color: #86ff4f;
  animation-duration: 1.25s;
}
#my_animation_5 {
  align-content: center;
  width: 100px;
  height: 100px;
  position: relative;
  animation: my_animation infinite alternate;
  background-color: #4286f4;
  animation-duration: 1.5s;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.card1 {
  position: relative;
  top: 0;
  background-color: #ff9696;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.21);
  width: 150px;
  height: 150px;
  margin: 10px;
  transition: all 1s ease;
  text-align: center;
  padding: 50px;
  color: #fff;
}

.card1:hover {
  top: -10px;
  box-shadow: -10px 10px 35px #888;
}

.card2 {
  position: relative;
  top: 0;
  background-color: #ffce7f;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.21);
  width: 150px;
  height: 150px;
  margin: 10px;
  transition: all 1s ease;
  text-align: center;
  padding: 50px;
  color: #fff;
}

.card2:hover {
  top: -20px;
  box-shadow: -10px 10px 35px #888;
}

.card3 {
  position: relative;
  top: 0;
  background-color: #9bff87;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.21);
  width: 150px;
  height: 150px;
  margin: 10px;
  transition: all 1s ease;
  text-align: center;
  padding: 50px;
  color: #fff;
}

.card3:hover {
  top: -30px;
  box-shadow: -10px 10px 35px #888;
}

.card4 {
  position: relative;
  top: 0;
  background-color: #87dfff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.21);
  width: 150px;
  height: 150px;
  margin: 10px;
  transition: all 1s ease;
  text-align: center;
  padding: 50px;
  color: #fff;
}

.card4:hover {
  top: -40px;
  box-shadow: -10px 10px 35px #888;
}

.card5 {
  position: relative;
  top: 0;
  background-color: #fb93ff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.21);
  width: 150px;
  height: 150px;
  margin: 10px;
  transition: all 1s ease;
  text-align: center;
  padding: 50px;
  color: #fff;
}

.card5:hover {
  top: -50px;
  box-shadow: -10px 10px 35px #888;
}
